@font-face {
  font-family: 'AvenirBook';
  src: url('~@/assets/scss/basic/fonts/920c15d4-2d04-48b5-8e84-e3bf5e3828d9.eot?#iefix');
  src: url('~@/assets/scss/basic/fonts/920c15d4-2d04-48b5-8e84-e3bf5e3828d9.eot?#iefix')
      format('eot'),
    url('~@/assets/scss/basic/fonts/fe2d00d9-aadd-40f7-a144-22a6f695aa8f.woff2') format('woff2'),
    url('~@/assets/scss/basic/fonts/c3795fc9-e264-4795-9a19-b57086aa6f7b.woff') format('woff'),
    url('~@/assets/scss/basic/fonts/ad6f5b5d-c8dd-4108-a4d8-fa659f795313.ttf') format('truetype');
}
