@import './fonts';

$fontBook: 'AvenirBook';
$radius: 4px;
$transition: all 0.2s ease-in-out;

$widths: (
  xxs: 340px,
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px,
);

$fontSizes: (
  big: 32px,
);

$margins: (
  m1: 5px,
  m2: 10px,
  m3: 15px,
  m4: 20px,
  m5: 30px,
  m6: 45px,
  m7: 60px,
  m8: 90px,
);

$colors: (
  red: hsl(0, 69%, 33%),
);

$colorsFilter: (
  red: invert(10%) sepia(51%) saturate(7287%) hue-rotate(354deg)
    brightness(89%) contrast(87%),
);
