@import './fonts';

$fontBook: 'AvenirBook';
$radius: 4px;
$transition: all 0.2s ease-in-out;

$widths: (
  xxs: 340px,
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px,
);

$fontSizes: (
  least: 10px,
  small: 13px,
  normal: 14px,
  average: 18px,
  big: 24px,
  biggest: 32px,
);

$margins: (
  m1: 5px,
  m2: 10px,
  m3: 15px,
  m4: 20px,
  m5: 30px,
  m6: 45px,
  m7: 60px,
  m8: 90px,
);

$colors: (
  red: hsl(0, 69%, 33%),
  light: hsl(0, 0%, 85%),
  green: hsl(120, 83%, 30%),
);

$colorsFilter: (
  red: invert(10%) sepia(51%) saturate(7287%) hue-rotate(354deg)
    brightness(89%) contrast(87%),
  green: invert(30%) sepia(83%) saturate(1593%) hue-rotate(95deg)
    brightness(93%) contrast(90%),
);
